<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.weeho.freemarker.dao.ArticleMapper">
    <select id="getArticleById" resultType="cn.weeho.freemarker.entities.Article">
		select * from tb_article where id = #{id}
	</select>
    <select id="getArticleList" resultType="cn.weeho.freemarker.entities.Article">
		select * from tb_article
	</select>
</mapper>